body{
    margin: 0;
    height: 100vh;
    justify-items: center;
    align-content: center;

}
#projectname{
    text-align: center;
    margin-bottom: 0.1rem;

}

#container{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 75vh;
    width:80%;
    justify-content: center;
    
    
}
#inputs{
    background-color: rgba(7, 90, 62, 0.237);
    border-radius: 4px;
    place-content: center;
    margin: auto;
    text-align: center;
    overflow: none;
    width: 90%;
    height: 70%;

}
#inputs h4{
    justify-self: center;
    margin: 0px;
}
#inputs input{
    margin-bottom: 1rem;
}
#submit{
    width: 25%;
    display: block;
    justify-self: center;
    margin-bottom: 1rem;border-radius: 1em;
    border-color: transparent;
}

.totalreturn{
    font-weight: bold;
    font-size: 1rem;
    font-family: Georgia;
    color: black;
    background-color: rgba(8, 126, 87, 0.781);
    border-radius: 4px;

}
::placeholder{
    text-align: center;
}